.form-group {
    display: grid;
    place-items: center;
    height: 100vh;

}

form {
    height: 450px;
    width: 500px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin: 0 auto;
    background-color: #F2F3F3;
    padding: 0 20px;

}


.teleb,
.xeta {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(1, 90%);
    gap: 5px;
}



h1 {
    font-size: 22px;
    font-weight: 500;
}

textarea {
    height: 90px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding-left: 20px;
    padding-top: 20px;
}

input {
    padding: 5px 15px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #fff;

}

select {
    border: 0.1rem solid #fff;
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    width: 30%;
    height: 30px;
}

.send {
    color: red;
    text-decoration: none;
    text-align: right;
    cursor: pointer;
    border: none;
    font-size: 20px;
    background: transparent;
    margin-top: 10px;
}