/*  */


.informations{
    padding: 20px;
    margin: 20px;
    background-color: #f2f3f3;
    width: 25%;
}
.informations h1{
    font-size: 20px;
}




.last{
    display:  flex !important;
    justify-content: space-between;
    align-items: center;
}